# AAI614: Data Science & its Applications

*Notebook 2.1: Practice with Pandas*

<a href="https://colab.research.google.com/github/harmanani/AAI614/blob/main/Week%202/Notebook2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*This notebook contains excerpts from the [Pandas in Action](https://www.manning.com/books/pandas-in-action) by Boris Paskhaver.*

### 1. Read the file

In [ ]:
import pandas as pd
import numpy as np
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

nba = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%202/nba.csv")

### 1. Shared and Exclusive Attributes between Series and DataFrames

In [ ]:
pd.Series([1, 2, 3]).dtype

In [ ]:
nba.dtypes

In [ ]:
nba.dtypes.value_counts()

In [ ]:
nba.index

In [ ]:
nba.columns

In [ ]:
nba.ndim

In [ ]:
nba.shape

In [ ]:
nba.size

In [ ]:
nba.count()

In [ ]:
nba.count().sum()

In [ ]:
data = {
    "A": [1, np.nan],
    "B": [2, 3]
}

df = pd.DataFrame(data)
df

In [ ]:
df.size

In [ ]:
df.count()

In [ ]:
df.count().sum()

### 2. Shared Methods between Series and DataFrames

In [ ]:
nba.head(2)

In [ ]:
nba.tail(n = 3)

In [ ]:
nba.tail()

In [ ]:
nba.sample(3)

In [ ]:
nba.nunique()

In [ ]:
nba.max()

In [ ]:
nba.min()

In [ ]:
nba.nlargest(n = 4, columns = "Salary")

In [ ]:
nba['Birthday'] = pd.to_datetime(nba['Birthday'])

In [ ]:
nba.nsmallest(n = 3, columns = ["Birthday"])

#### The following should give an error.  No need to panic :-)

In [ ]:
#nba.sum()

In [ ]:
nba.sum(numeric_only = True)

In [ ]:
nba.mean(numeric_only = True)

In [ ]:
nba.median(numeric_only = True)

In [ ]:
nba.mode(numeric_only = True)

In [ ]:
nba.std(numeric_only = True)

## 3. Sorting a DataFrame

### 3.1 Sorting by Single Column

In [ ]:
# The two lines below are equivalent
nba.sort_values("Name")
nba.sort_values(by = "Name")

In [ ]:
nba.sort_values("Name", ascending = False).head()

In [ ]:
nba.sort_values("Birthday", ascending = False).head()

### 4.2 Sorting by Multiple Columns

In [ ]:
nba.sort_values(by = ["Team", "Name"])

In [ ]:
nba.sort_values(["Team", "Name"], ascending = False)

In [ ]:
nba.sort_values(
    by = ["Team", "Salary"], ascending = [True, False]
)

In [ ]:
nba = nba.sort_values(
    by = ["Team", "Salary"],
    ascending = [True, False]
)

## 5 Sorting by Index

In [ ]:
nba.head()

### 5.1 Sorting by Row Index

In [ ]:
# The two lines below are equivalent
nba.sort_index().head()
nba.sort_index(ascending = True).head()

In [ ]:
nba.sort_index(ascending = False).head()

In [ ]:
nba = nba.sort_index()

### 5.2 Sorting by Column Index

In [ ]:
# The two lines below are equivalent
nba.sort_index(axis = "columns").head()
nba.sort_index(axis = 1).head()

In [ ]:
nba.sort_index(axis = "columns", ascending = False).head()

## 5.3 Setting a New Index

In [ ]:
# The two lines below are equivalent
nba.set_index(keys = "Name")

In [ ]:
nba.set_index("Name")

## 6 Selecting Columns and Rows from a DataFrame

### 6.1 Selecting a Single Column from a DataFrame

In [ ]:
nba.Salary

In [ ]:
nba["Position"]

### 6.2 Selecting Multiple Columns from a DataFrame

In [ ]:
nba[["Salary", "Birthday"]].head()

In [ ]:
nba[["Birthday", "Salary"]].head()

In [ ]:
nba.select_dtypes(include = "object")

In [ ]:
nba.select_dtypes(exclude = ["object", "int"])

## 7 Selecting Rows from a DataFrame

### 7.1 Extracting Rows by Index Label

In [ ]:
nba

In [ ]:
nba.index = nba["Name"]
nba = nba.set_index('Name', drop = True)

In [ ]:
nba.loc["LeBron James"]

In [ ]:
nba.loc[["Kawhi Leonard", "Paul George"]]

In [ ]:
nba.loc[["Paul George", "Kawhi Leonard"]]

In [ ]:
nba.sort_index().loc["Otto Porter":"Patrick Beverley"]

In [ ]:
players = ["Otto Porter", "PJ Dozier", "PJ Washington"]
players[0:2]

In [ ]:
nba.sort_index().loc["Zach Collins":]

In [ ]:
nba.sort_index().loc[:"Al Horford"]

**NOTE**: I've commented out the code below so that the Notebook can run without raising an error.

In [ ]:
#nba.loc["Bugs Bunny"]

### 7.2 Extracting Rows by Index Position

In [ ]:
nba.iloc[300]

In [ ]:
nba.iloc[[100, 200, 300, 400]]

In [ ]:
nba.iloc[400:404]

In [ ]:
nba.iloc[:2]

In [ ]:
nba.iloc[447:]

In [ ]:
nba.iloc[-10:-6]

In [ ]:
nba.iloc[0:10:2]

### 7.3 Extracting Values from Specific Columns

In [ ]:
nba['Team'].loc["Giannis Antetokounmpo"]

In [ ]:
nba.loc["James Harden", ["Position", "Birthday"]]

In [ ]:
nba.loc[
    ["Russell Westbrook", "Anthony Davis"],
    ["Team", "Salary"]
]

In [ ]:
nba.loc["Joel Embiid", "Position":"Salary"]

In [ ]:
nba.loc["Joel Embiid", "Salary":"Position"]

In [ ]:
nba.iloc[57, 3]

In [ ]:
nba.iloc[100:104, :3]

In [ ]:
nba.at["Austin Rivers", "Birthday"]

In [ ]:
nba.iat[263, 1]

In [ ]:
%%timeit
nba.at["Austin Rivers", "Birthday"]

In [ ]:
%%timeit
nba.loc["Austin Rivers", "Birthday"]

In [ ]:
%%timeit
nba.iat[263, 1]

In [ ]:
%%timeit
nba.iloc[263, 1]

## 8 Extracting Values from Series

In [ ]:
nba["Salary"].loc["Damian Lillard"]

In [ ]:
nba["Salary"].at["Damian Lillard"]

In [ ]:
nba["Salary"].iloc[234]

In [ ]:
nba["Salary"].iat[234]

## 9 Renaming Columns or Rows

In [ ]:
nba.columns

In [ ]:
nba.columns = ["Team", "Position", "Date of Birth", "Pay"]
nba.head(1)

In [ ]:
nba.rename(columns = { "Date of Birth": "Birthday" })

In [ ]:
nba = nba.rename(columns = { "Date of Birth": "Birthday" })

In [ ]:
nba.loc["Giannis Antetokounmpo"]

In [ ]:
nba = nba.rename(
    index = { "Giannis Antetokounmpo": "Greek Freak" }    
)

In [ ]:
nba.loc["Greek Freak"]

## 10 Resetting an Index

In [ ]:
nba.set_index("Team").head()

In [ ]:
nba.reset_index().head()

In [ ]:
nba.reset_index().set_index("Team").head()

In [ ]:
nba = nba.reset_index().set_index("Team")